span.highlight {
    color: red;
}

.result-item {
    direction: rtl;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #e5e7eb;
    padding:10px;
}

.result-item .result-title {
    display: flex !important;
    align-items: flex-start !important;

}

.result-title h4 {
    margin: 0px;
}

.result-item .result-title {
    width: 20%;
    box-sizing: border-box;
}

.result-item .highlights {
    width: 70%;
    box-sizing: border-box;
}

.result-item .result-page {
    text-align: left;
    width: 10%;
    box-sizing: border-box;
}

.results-container {
    background: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 1.5rem;
  }
  